<!-- views/_partials/_flashMsg.ejs -->

<!--
    Listing 22.4 (p. 329)
    layout.ejs에서 플래시 메시지 추가
-->
<div class="flash-msg">
  <% if (flashMessages.success) { %>
    <% if (flashMessages.success) { %>
    <div class="alert alert "
        <% } %>
<% } %>
</div>
